/*  Name: Shaan Sabanali Khoja
    Student Number: 9050836
*/

/* Body Style */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* CSS to place main and aside side by side */
header,
footer {
    background-color: #3c3c3c;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1,
h2 {
    color: #2c3e50;
}

main {
    float: left;
    width: 65%;
    padding: 20px;
}

aside {
    float: right;
    width: 30%;
    padding: 20px;
    background-color: #eaeaea;
}

footer {
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    font-size: 0.9em;
    color: #555;
}

blockquote {
    font-style: italic;
    background-color: #fff8dc;
    border-left: 0.5rem solid #f39c12;
    margin: 10px;
    padding: 10px;
}

q {
    font-style: italic;
    color: #555;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f39c12;
    color: white;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}